{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">CHIS  CHALK BOARD</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
        <!--                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>-->
        <!--                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title"><b>MOH 516  CHALK BOARD</b></h5>
                                    </div>

                                    <hr>
                            <form class="row g-3 ">
                                    <div class="col-md-6">
                                        <label for="Province" class="form-label">Province</label>
                                        <input type="text" class="form-control" id="Province" placeholder="Province">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="District" class="form-label">District</label>
                                        <input type="text" class="form-control" id="District" placeholder="District">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Division" class="form-label">Division</label>
                                        <input type="text" class="form-control" id="Division" placeholder="Division">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Location" class="form-label">Location</label>
                                        <input type="text" class="form-control" id="Location" placeholder="Location">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="SubLocation" class="form-label">SubLocation</label>
                                        <input type="text" class="form-control" id="SubLocation" placeholder="SubLocation">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Name_of_CU" class="form-label">Name of CU</label>
                                        <select class="form-control" id="Name_of_CU" name="Name_of_CU" required>
                                                    <option value="Community 1">Community 1</option>
                                                    <option value="Community 2">Community 2</option>
                                                    <option value="Community 3">Community 3</option>
                                                    <option value="Community 4">Community 4</option>
                                                    <option value="Community 5">Community 5</option>
                                                    <option value="Community 6">Community 6</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                                <label for="Number_of_households">Number of households</label>
                                                <input type="number" class="form-control" id="Number_of_households" placeholder=" Number of households ">
                                             </div>

                                             <div class="col-md-6">
                                                <label for="Total_population">Total population</label>
                                                <input type="number" class="form-control" id="Total_population" name="Total_population" placeholder="date of death">
                                            </div>
                                             <div class="col-md-6">
                                                <label for="Total_women_15-49_years">Total women 15-49 years</label>
                                                <input type="number" class="form-control" id="Total_women_15-49_years" name="Total_women_15-49_years" placeholder="Individual code">
                                            </div>
                                             <div class="col-md-6">
                                                <label for="Total_children_0-6_months">Total children 0-6 months</label>
                                                <input type="number" class="form-control" id="Total_children_0-6_months" name="Total_children_0-6_months" placeholder="Age in completed years">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Total_children_under_one_year_old">Total children under one year old </label>
                                                <input type="number" class="form-control" id="Total_children_under_one_year_old" name="Total_children_under_one_year_old" placeholder="Sex(M/F)">
                                            </div>
                                             <div class="col-md-6">
                                                <label for="Total_children_under_five_years_old">Total children under five years old</label>
                                                <input type="number" class="form-control" id="Total_children_under_five_years_old" name="Total_children_under_five_years_old" placeholder="Relationship to HH">
                                            </div>
                                             <div class="col-md-6">
                                                <label for="Adolescent_and_youth_Girls(13-24 years)">Adolescent and youth - Girls(13-24 years) </label>
                                                 <input type="number" class="form-control" id="Adolescent_and_youth_Girls(13-24 years)" name="Adolescent_and_youth_Girls(13-24 years)" placeholder="Adolescent and youth - Girls(13-24 years)" required>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="Adolescent_and_youth_Boys(13-24 years)">Adolescent and youth - Boys(13-24 years) </label>
                                                <input type="number" class="form-control" id="Adolescent_and_youth_Boys(13-24 years)" name="Adolescent_and_youth_Boys(13-24 years)" placeholder="Adolescent and youth - Boys(13-24 years)" required>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="Total_population_of_the_elderly(60+ years)">Total population of the elderly(60+ years)</label>
                                                <input type="number" class="form-control" id="Total_population_of_the_elderly(60+ years)" name="Total_population_of_the_elderly(60+ years)" placeholder="Total population of the elderly(60+ years)" required>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="Number_of_households_not_treating_water">Number of households not treating water</label>
                                                <input type="number" class="form-control" id="Number_of_households_not_treating_water" name="Number_of_households_not_treating_water" placeholder="Number of households not treating water" required>

                                            </div>
                                            <div class="col-md-6">
                                                <label for="Number_of_households_not_using_ITNs">Number of households not using ITNs</label>
                                                <input type="number" class="form-control" id="Number_of_households_not_using_ITNs" name="Number_of_households_not_using_ITNs" placeholder="Number of households not using ITNs" required>

                                                <br>

                                            </div>

                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
