{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">CHIS HOUSEHOLD REGISTER MOH 513 </h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
        <!--                            <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>-->
        <!--                            <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title"><b>CHIS HOUSEHOLD REGISTER MOH 513 </b></h5>
                                    </div>

                                    <hr>
                            <form class="row g-3 ">
                                    <div class="col-md-6">
                                        <label for="Province" class="form-label">Province</label>
                                        <input type="text" class="form-control" id="Province" name="Province" placeholder="Province">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="District" class="form-label">District</label>
                                        <input type="text" class="form-control" id="District" name="District" placeholder="District">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Division" class="form-label">Division</label>
                                        <input type="text" class="form-control" id="Division" name="Division" placeholder="Division">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Location" class="form-label">Location</label>
                                        <input type="text" class="form-control" id="Location" name="Location" placeholder="Location">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="SubLocation" class="form-label">SubLocation</label>
                                        <input type="text" class="form-control" id="SubLocation" name="SubLocation" placeholder="SubLocation">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Name_of_CU" class="form-label">Name of CU</label>
                                        <select class="form-control" id="Name_of_CU" name="Name_of_CU" required>
                                                    <option value="Community 1">Community 1</option>
                                                    <option value="Community 2">Community 2</option>
                                                    <option value="Community 3">Community 3</option>
                                                    <option value="Community 4">Community 4</option>
                                                    <option value="Community 5">Community 5</option>
                                                    <option value="Community 6">Community 6</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Name_of_CHV" class="form-label">Name of CHV</label>
                                        <input type="text" class="form-control" id="Name_of_CHV" name="Name_of_CHV" placeholder="Name of CHV">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Start_date" class="form-label">Start Date</label>
                                        <input type="date" class="form-control" id="Start_date" name="Start_date" placeholder="Start date">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="End_date" class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="End_date" name="End_date" placeholder="End Date">
                                    </div>


                                    <hr>
                                    <br>
                                    <div class="col-md-6">
                                        <label for="Date_of_collection" class="form-label">Date of collection</label>
                                        <input type="date" class="form-control" id="Date_of_collection" name="Date_of_collection" placeholder="Date of collection">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Date_of_death" class="form-label">Date of death</label>
                                        <input type="date" class="form-control" id="Date_of_death" name="Date_of_death" placeholder="Date of death">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Individual_code" class="form-label">Individual code</label>
                                        <input type="text" class="form-control" id="Individual_code" name="Individual_code" placeholder="Individual code">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Age_in_completed_years" class="form-label">Age in completed years</label>
                                        <input type="text" class="form-control" id="Age_in_completed_years" name="Age_in_completed_years" placeholder="Age in completed years">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Sex(m/f)" class="form-label">Sex(m/f)</label>
                                        <select class="form-control" id="Sex(m/f)" name="Sex(m/f)" required>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Relationship_to_HH" class="form-label">Relationship to HH</label>
                                        <input type="text" class="form-control" id="Relationship_to_HH" name="Relationship_to_HH" placeholder="Relationship to HH">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Clinic_card" class="form-label">Clinic card</label>
                                        <input type="text" class="form-control" id="Clinic_card" name="Clinic_card" placeholder="Clinic card">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Penta_1_given" class="form-label">Penta 1 given</label>
                                        <select class="form-control" id="Penta_1_given" name="Penta_1_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Penta_3_given" class="form-label">Penta 3 given</label>
                                        <select class="form-control" id="Penta_3_given" name="Penta_3_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Fully_immunized_(√)" class="form-label">Fully immunized (√)</label>
                                        <select class="form-control" id="Fully_immunized_(√)" name="Fully immunized (√)" required>
                                                    <option value="Yes">√</option>
                                                    <option value="No">_</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Vitamin_A_given_(√)" class="form-label">Vitamin A given (√)</label>
                                        <select class="form-control" id="Vitamin_A_given_(√)" name="Vitamin A given (√)" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Measles_given" class="form-label">Measles given</label>
                                        <select class="form-control" id="Measles_given" name="Measles_given" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                        </select>
                                    </div>
                                    <div class="form-floating COL-MD-6">
                                        <label for="floatingSelect">Works with selects</label>
                                          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                                <option selected>Open this select menu</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                          </select>
                                    </div>


                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
